################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/The7GATESArchive/bin
/The7GATESArchive/obj
