<!DOCTYPE html>
<style>
    .body {
        text-align: center;
    }
    .up {
        background-color: rgba(0, 181, 135, 0.25);
        color: white;
        text-align: center;
        border: 2px solid #00ffbf;
        border-radius: 4px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .hint {
        background-color: rgba(62, 120, 214, 0.25);
        color: white;
        text-align: center;
        border: 2px solid rgb(66, 134, 244);
        border-radius: 4px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
</style>
<html>

<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <h4 style="padding-top:6px">The Gateway Projects - ZONE [ALPHA]</h4>
            </div>
        </div>
    </div>
    <div style="text-align:center">
        <h1>ZONE ALPHA HINT ONE</h1>
        <img src="~/Assets/Zone1.png" width="128px" height="128px" style="display:inline-block" />
        <div style="text-align:center">
            <h2 style="display:inline-block;width:50%" class="up">READY TO USE</h2>
        </div>
        <h4></h4>
        <div style="text-align:center">
            <div class="hint" style="width:50%;text-align:center;display:inline-block">
                <h4>Hint 1:</h4>
                <h4 style="padding-right:5px;padding-left:5px">Game is 0 and Film is 1 (Because obviously Film Theory is the better of the two)</h4>
            </div>
        </div>
</html>