<!DOCTYPE html>
<style>
    .page .navbar-inner {
        display: none;
    }
</style>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <h4 style="padding-top:6px">The Gateway Projects - ZONE [ALPHA]</h4>
            </div>
        </div>
    </div>
    <br />
    <div style="text-align:center">
        <img src="~/Assets/Error.png" alt="Error Logo" height="128px" width="128px" style="border-radius:65px;display:inline-block" />
    </div>
    <br />
    <div style="border:2px solid red">
        <h1>(!!!)</h1>
        <h2>Something happened when <span style="color:#ff7272">p</span>r<span style="color:#ff7272">o</span>cessing your reque<span style="color:#ff7272">s</span>t! No worries, please <span style="color:#ff7272">t</span>ry aga<span style="color:#ff7272">i</span>n or make sure to con<span style="color:#ff7272">t</span>act the developer on Discord (Daviado#3449)!</h2>
        <img src="~/Assets/ARG-1.png" height="306px" width="414px" />
    </div>
</body>
</html>
