<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PoStIT</title>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <h4 style="padding-top:6px">The Gateway Projects - ZONE [ALPHA]</h4>
            </div>
        </div>
    </div>
    <h2>Come quickly! We must not wait any longer in this dark room</h2>
    <h2>**CRASH**</h2>
    <h2>Huh? What was that? Wait... I can't reach you... Something is blocking the pathway!</h2>
    <h2>I see this thing... Hold on... I'll try to show it to your page... It has nothing more than this</h2>
    <img src="~/Assets/ARG-2.png" height="306px" width="414px" />
    <h2>*sigh* Go and get to the zone quickly! Don't wait up for me. There should be a screen on the page that shows you your final clue... Promise you will save me afterwards...</h2>
    <img src="~/Assets/ARG-3.png" height="306px" width="414px" />
</body>
</html>
