<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://localhost/The7GATESArchive</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/The7GATESArchive</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="GatewayContext" Order="1" Enabled="True">
          <Destination Path="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=The7GATESArchive2;Integrated Security=True" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="The7GATESArchive.DAL.GatewayContext, 7GatesDatabase" MigrationConfiguration="The7GATESArchive.Migrations.Configuration, The7GATESArchive" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="GatewayContext-Web.config Connection String">
      <ParameterValue>Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=The7GATESArchive2;Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>