<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/1b9c96f0-0540-4422-aa03-a53c17579ec4/resourcegroups/The7GatesArchive/providers/Microsoft.Web/sites/The7GATESArchive</ResourceId>
    <ResourceGroup>The7GatesArchive</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://the7gatesarchive.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>the7gatesarchive.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>The7GATESArchive</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$The7GATESArchive</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="GatewayContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:the7gatesarchivedbserver.database.windows.net,1433;Initial Catalog=The7GATESArchive_db;User ID=daviado@the7gatesarchivedbserver;Password=DJCrazy2850" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="The7GATESArchive.DAL.GatewayContext, 7GatesDatabase" MigrationConfiguration="The7GATESArchive.Migrations.Configuration, The7GATESArchive" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="GatewayContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:the7gatesarchivedbserver.database.windows.net,1433;Initial Catalog=The7GATESArchive_db;User ID=daviado@the7gatesarchivedbserver;Password=DJCrazy2850</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>