@{
    ViewBag.Title = "Status";
}
<body style="text-align:center">
    <h1 style="text-align:center">THETHEORISTGATEWAY.COM STATUSES</h1>
    <p style="text-align:center">The theoristgateway is currently down from the Gate 2 release. No fix date has been given, but they claimed to be able to fix it by 12/14. Nothing yet has been reported on any of the statuses.</p>
    <h4 style="background-color:red;padding:2px;color:white;font-family:Calibri;text-align:center"></h4>
    <h2 style="background-color:green;padding:5px;color:white;font-family:Calibri;text-align:center">SERVERS: Functional</h2>
    <h2 style="background-color:red;padding:5px;color:white;font-family:Calibri;text-align:center">HOME PAGE: DOWN</h2>
    <h2 style="background-color:red;padding:5px;color:white;font-family:Calibri;text-align:center">GATES PAGE: DOWN</h2>
    <h2 style="background-color:green;padding:5px;color:white;font-family:Calibri;text-align:center">TOOLBOX AND FAQ: Functional</h2>
    <h2 style="background-color:red;padding:5px;color:white;font-family:Calibri;text-align:center">API: RESTRICTED</h2>
    <h2 style="background-color:green;padding:5px;color:white;font-family:Calibri;text-align:center">CREATORINK NEW ACCOUNTS: Functional</h2>
    <h4 style="background-color:red;padding:2px;color:white;font-family:Calibri;text-align:center"></h4>
    <h2 style="background-color:red;padding:5px;color:white;font-family:Calibri;text-align:center">KNOWN WEBSITE FIX TIME: Unknown</h2>
</body>
