<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <br />
    <div style="text-align:center">
        <img src="~/Assets/7GAError.png" alt="Error Logo" height="128px" width="128px" style="border-radius:65px;display:inline-block" />
    </div>
    <br />
    <div style="border:2px solid red">
        <h1>Dangit.</h1>
        <h2>The7GATESArchive has reached an error in its code. This is completely on us (server side), not you. Please tweet "DaviadoIsTired" or DM Daviado#3449 on Discord about this error!</h2>
    </div>
</body>
</html>
