<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>:o</title>
</head>
<body>
    <div style="border:2px solid red">
        <h1>(!!!)</h1>
        <h2>Something happened when processing your request! No worries, please try again or make sure to contact the developer on Disocrd (Daviado#3449)!</h2>
    </div>
</body>
</html>
