
<style>
    .gate1 {
        background-color: #e6335a;
        color: white;
    }
    .gate2 {
        background-color: #3fba84;
        color: white;
    }
    .gate3 {
        background-color: #34a9f6;
        color: white;
    }
    .gate4 {
        background-color: #fe7b51;
        color: white;
    }
    .gate5 {
        background-color: #f0be37;
        color: white;
    }
    .gate6 {
        background-color: #a74cc1;
        color: white;
    }
    .gate7 {
        background-color: #282828;
        color: white;
    }
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 12%;

    }
    .title {
        background-color: rgba(175, 0, 0, 0.25);
        color: white;
        text-align: center;
        border: 2px solid #ff0000;
        border-radius: 4px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .info {
        background-color: #ff3a26;
        color: white;
        text-align: center;
        border: 2px solid #ff3a26;
        padding-top: 10px;
        padding-bottom: 10px;
    }

</style>

<body style="background-color:black">
    <div class="row">
        <div class="carousel">
            <br />
            <h1 style="font-size:60px;color:black;text-align:center"><strong>About the Gateway Projects</strong></h1>
            <br />
            <div class="info">

                <h2 style="padding-left:10px;font-family:Calibri">The Leaderboard</h2>
                <i class="fa fa-trophy"></i>
                <h4 style="padding-bottom:7px;font-family:Calibri">thetheoristgateway.com down? No worries! With the leaderboard feature, we import data from the API and put it into our databases to create a model every single gate! You can see your improvement, time difference, and so much more (Psst... you can view anyones)! A search function that is reliable in delivering you accurate results! We have also added new features that gives more of a description than you would normally see anywhere else! Leave the math and logic to us, while you sit back and check each of your ranks!</h4>

            </div>
            <br />
            <div class="info">

                <h2 style="padding-left:10px;font-family:Calibri">Fast Data on Your Screen</h2>
                <i class="material-icons">check_box</i>
                <h4 style="padding-bottom:7px;font-family:Calibri">We have people who have ainfoccess to the HTML code to give you a real time update whenever something is happening. We will always make sure to add updates based on what is happening realtime! Plus, with our new twitter (7GATESArchive), we can deliver everyone very quick data!</h4>

            </div>
            <br />
            <div class="info">

                <h2 style="padding-left:10px;font-family:Calibri">Statuses</h2>
                <i class="	fa fa-exclamation-triangle"></i>
                <h4 style="padding-bottom:7px;font-family:Calibri">We all have that moment, 20 minutes before the gate. We all wonder if the gateway will stand up during the rush of all of the users! Have no fear with The Gateway Statuses! We make sure to manually input data from what we see on the website, and include descriptions for our predictions, and what everything means! If you are in doubt about the website status, view the Gateway Statuses!</h4>

            </div>
            <br />
            <div class="info">

                <h2 style="padding-left:10px;font-family:Calibri">The Gates</h2>
                <i class="material-icons">info</i>
                <h4 style="padding-bottom:7px;font-family:Calibri">Everyone wants to know information about the gates BEFORE they open. With the Gateway Gates, you can view data about the gates! Themes, amount of keys, date of opening, and much more will help you remember the Gate! We make sure to update the gateway page as soon as we get an update (Psst... it is from the most active community, the Game Theorists Discord)!</h4>

            </div>
            <br />
            <div class="info">

                <h2 style="padding-left:10px;font-family:Calibri">Assets</h2>
                <i class="material-icons">image</i>
                <h4 style="padding-bottom:7px;font-family:Calibri">For realzies, this is about the assets on this website. ALL GATEWAY ARTWORK AND DATA IS PROPERTY OF CREATORINK. I am not trying to pass any of the content (except for the assets made by me which all have the yellow mark in the bottom right corner) as my own. All of the content comes from thetheoristgateway.com. This project is only to store and show the data in an archivey fashion. Any of my assets (once again, the ones with the yellow marking in the bottom right corner) can be reused in any way if the user is not claiming ownership of the assets. With the new design, we have added icons to a few of our pages. These icons are part of the icon library of Google Icons and Font Awesome 4!</h4>

            </div>
            <br />
        </div>
    </div>
</body>
