
<style>
    .gate1 {
        background-color: #e6335a;
        color: white;
    }
    .gate2 {
        background-color: #3fba84;
        color: white;
    }
    .gate3 {
        background-color: #34a9f6;
        color: white;
    }
    .gate4 {
        background-color: #fe7b51;
        color: white;
    }
    .gate5 {
        background-color: #f0be37;
        color: white;
    }
    .gate6 {
        background-color: #a74cc1;
        color: white;
    }
    .gate7 {
        background-color: #282828;
        color: white;
    }
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 12%;

    }
    .title {
        background-color: rgba(175, 0, 0, 0.25);
        color: white;
        text-align: center;
        border: 2px solid #ff0000;
        border-radius: 4px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .info {
        background-color: rgba(175, 0, 0, 0.05);
        color: white;
        text-align: center;
        border: 2px solid #ff0000;
        border-radius: 4px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

</style>

<body style="background-color:black">
    <div class="row">
        <div class="carousel">
            <br />
            <div class="title">

                <h1>THE GATEWAY PROJECTS</h1>
                <h3 style="padding-bottom:7px">Managed By Daviado#3449</h3>

            </div>
            <br />
            <div class="info">

                <h3>> The Leaderboard</h3>
                <p style="padding-bottom:7px">thetheoristgateway.com down? No worries! With the leaderboard feature, we import data from the API and put it into our databases to create a model every single gate! You can see your improvement, time difference, and so much more (Psst... you can view anyones)! A search function that is reliable in delivering you accurate results!</p>

            </div>
            <div class="info">

                <h3>> Status</h3>
                <p style="padding-bottom:7px">We all have that moment, 20 minutes before the gate. We all wonder if the gateway will stand up during the rush of all of the users! Have no fear with The Gateway Statuses! We make sure to manually input data from what we see on the website, and include descriptions for our predictions, and what everything means! If you are in doubt about the website status, view the Gateway Statuses!</p>

            </div>
            <div class="info">

                <h3>> The Gates</h3>
                <p style="padding-bottom:7px">Everyone wants to know information about the gates BEFORE they open. With the Gateway Gates, you can view data about the gates! Themes, amount of keys, date of opening, and much more will help you remember the Gate! We make sure to update the gateway page as soon as we get an update (Psst... it is from the most active community, the Game Theorists Discord)!</p>

            </div>
        </div>
    </div>
</body>
