@{
    ViewBag.Title = "About";
}
<body style="text-align:center">
    <h2 style="text-align:center">The Gateway Archives:</h2>
    <h3 style="text-align:center">Created By Daviado#3449</h3>
    <h4 style="background-color:red;color:black;text-align:center">BETA</h4>


    <p style="text-align:center">The Gateway Archives is a project to help keep data from the Theorist Gateway from all 7 of the gates. Since CreatorINK didn't have the best servers, The Gateway Archives is a fallback plan so you can see your ranking and the ranking of others! This allows for people to not be stuck confused where people are in the rankings. This also will serve as a live server status for thetheoristgateway.com stating the issues that are currently present with the servers to let people know of any problems they might have.</pstyle="text-align:center">
    <p style="text-align:center">THIS IS NOT FOR CLUES! Luckily, a very smart person named retrocraft made a Master Tracker that has all of the clues put together in a great way! I am also an editor on there, so if you found a clue that should be on there and it isn't, DM me on Discord!</p>
    <p style="text-align:center">I DO NOT OWN ANY OF THE GATEWAY IMAGES. All images and concepts (except The Archives logo) are property of CreatorINK and MatPatGT!</p>
    <p style="text-align:center">Last Updated: 3:29PM (EST) 12/16</p>
</body>
