
<style>
    .gate1 {
        background-color: #e6335a;
        color: white;
    }

    .gate2 {
        background-color: #3fba84;
        color: white;
    }

    .gate3 {
        background-color: #34a9f6;
        color: white;
    }

    .gate4 {
        background-color: #fe7b51;
        color: white;
    }

    .gate5 {
        background-color: #f0be37;
        color: white;
    }

    .gate6 {
        background-color: #a74cc1;
        color: white;
    }

    .gate7 {
        background-color: #282828;
        color: white;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 12%;
    }

    .title {
        background-color: rgba(175, 0, 0, 0.25);
        color: white;
        text-align: center;
        border: 2px solid #ff0000;
        border-radius: 4px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .info {
        background-color: rgba(175, 0, 0, 0.05);
        color: white;
        text-align: center;
        border: 2px solid #ff0000;
        border-radius: 4px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
</style>

<body style="background-color:black">
    <div class="row">
        <div class="carousel">
            <br />
            <div class="title">
                <img src="~/Assets/Error.png" height="128px" width="128px" style="border-radius:65px"/>
                <h1>Noooooo!</h1>
                <h3 style="padding-bottom:7px">Sadly, we have encountered an error that will affect the entire website. Please keep in touch with Daviado#3449 for website updates as we fix this!</h3>

            </div>
        </div>
    </div>
</body>
