
<style>
    .gate1 {
        background-color: #e6335a;
        color: white;
    }

    .gate2 {
        background-color: #3fba84;
        color: white;
    }

    .gate3 {
        background-color: #34a9f6;
        color: white;
    }

    .gate4 {
        background-color: #fe7b51;
        color: white;
    }

    .gate5 {
        background-color: #f0be37;
        color: white;
    }

    .gate6 {
        background-color: #a74cc1;
        color: white;
    }

    .gate7 {
        background-color: #282828;
        color: white;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 12%;
    }

    .title {
        background-color: rgba(175, 0, 0, 0.25);
        color: white;
        text-align: center;
        border: 2px solid #ff0000;
        border-radius: 4px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .info {
        background-color: #ff3a26;
        color: white;
        text-align: center;
        border: 2px solid #ff3a26;
        padding-top: 10px;
        padding-bottom: 10px;
    }
</style>

<body style="background-color:black">
    <div class="row">
        <div class="carousel">
            <br />
            <h1 style="font-size:60px;color:black;text-align:center"><strong>Find Help for the GTARG</strong></h1>
            <br />
            <div class="info">
                <img src="~/Assets/TheTheoristGateway.gif" alt="TheTheoristGateway Logo Gif" style="float:right" height="240px" width="240px" />
                <h3 style="text-align:left;padding-left:5px">TheTheoristGateway.com</h3>

                <p style="padding-bottom:7px;text-align:left;padding-left:5px">This is probably the most important one! You create your account and play the gates on this website! All data also comes from this website! Overall the main place to be when looking for realtime data! (Credit for logo goes to CREATORINK)</p>
                <p style="padding-bottom:7px;text-align:left;padding-left:5px">Visit the main webpage: <a href="https://www.thetheoristgateway.com">thetheoristgateway.com</a></p>
                <p style="padding-bottom:7px;text-align:left;padding-left:5px">Visit the help hub: <a href="https://help.thetheoristgateway.com/">help.thetheoristgateway.com</a></p>
                <p style="padding-bottom:7px;text-align:left;padding-left:5px">Visit CREATORINK (The company that made this possible): <a href="https://creatorink.com/">creatorink.com</a></p>
            </div>
            <br />
            <div class="info">
                <h3 style="text-align:left;padding-left:5px">Game Theory Discord</h3>

                <p style="padding-bottom:7px;text-align:left;padding-left:5px">Join the Official Game Theorists Discord! This is an amazing community (of 20,000 members! Woo!) that has a whole section dedicated to the ARG! (Try and spot me around in chat, I'm the one with the blue/purple name)</p>
                <p style="padding-bottom:7px;text-align:left;padding-left:5px">Come Join Us: <a href="https://discord.gg/Ytp8gxX">We Have Cookies (Not really but please)</a></p>
                <p style="padding-bottom:7px;text-align:left;padding-left:5px">The BEAST (AKA: The Master Tracker): <a href="https://retrocraft.github.io/master-tracker/">VISIT THE MASTER TRACKER</a></p>
                <p style="padding-bottom:7px;text-align:left;padding-left:5px">The Twitter for Our Discord: <a href="https://twitter.com/GameTheoryD">Tweet Tweet!</a></p>

            </div>
            <br />
            <div class="info">
                <h3 style="text-align:left;padding-left:5px">Game Theory Subreddit</h3>

                <p style="padding-bottom:7px;text-align:left;padding-left:5px">The subreddit is an even more amazing community! With ~46k members, you can post your theory and get feedback on it! This is a very supportive community!</p>
                <p style="padding-bottom:7px;text-align:left;padding-left:5px">Come Reddit Out With Us: <a href="https://www.reddit.com/r/GameTheorists/">We Have Cookies (Not really but please)</a></p>
            </div>
            <br />
            <div class="info">
                <h3 style="text-align:left;padding-left:5px">The Game Theory Channel</h3>

                <p style="padding-bottom:7px;text-align:left;padding-left:5px">Of course we cannot forget the origin of all of this! The Official Game Theory links! Go subscribe and get Game Theory merch (it's so comfy!!!)</p>
                <p style="padding-bottom:7px;text-align:left;padding-left:5px">THE AMAZING MATPAT: <a href="https://www.youtube.com/user/MatthewPatrick13">*Step Right Up Folks! You Heard It Here*</a></p>
                <p style="padding-bottom:7px;text-align:left;padding-left:5px">Visit CREATORINK (The company that made this possible): <a href="https://creatorink.com/">creatorink.com</a></p>
            </div>
        </div>
    </div>
</body>
