@{
    ViewBag.Title = "Home Page";
}
<style>
    .gate1 {
        background-color: #e6335a;
        color: white;
    }
    .gate2 {
        background-color: #3fba84;
        color: white;
    }
    .gate3 {
        background-color: #34a9f6;
        color: white;
    }
    .gate4 {
        background-color: #fe7b51;
        color: white;
    }
    .gate5 {
        background-color: #f0be37;
        color: white;
    }
    .gate6 {
        background-color: #a74cc1;
        color: white;
    }
    .gate7 {
        background-color: #282828;
        color: white;
    }
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 12%;

    }
    .title {
        background-color: rgba(175, 0, 0, 0.25);
        color: white;
        text-align: center;
        border: 2px solid #ff0000;
        border-radius: 4px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .info {
        background-color: rgba(175, 0, 0, 0.05);
        color: white;
        text-align: center;
        border: 2px solid #ff0000;
        border-radius: 4px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

</style>

<body style="background-color:black">
    <div class="row">
        <div class="carousel">
            <br />
            <div class="title">

                <h1>THE GATEWAY PROJECTS</h1>
                <h3 style="padding-bottom:7px">Managed By Daviado#3449</h3>
                <h3 style="padding-bottom:7px">PLEASE DO NOT VISIT ANY PAGES! WE ARE CURRENTLY UPDATING INFORMATION!</h3>

            </div>
            <br />
            <div class="info">

                <h3>> What are the Gateway Projects?</h3>
                <p style="padding-bottom:7px">The Gateway Projects are a bunch of archives and statuses of thetheoristgateway.com. They consist of Leaderboard Archives, Statuses, Gateway Inforamtion, and more to come! All of the data on this website is up-to-date, so you won't have to worry about really old data if you want to rely on our archives.</p>

            </div>
            <div class="info">

                <h3>> Where does this data come from?</h3>
                <p style="padding-bottom:7px">All the data on this website is accurate data from thetheoristgateway.com. For the leaderboard, we use their API to gather information and input data into our website. For the statuses, someone is always here waiting to update them when it is needed, so it is always up-to-date. We also provide descriptions for those who may not completely understand the information being given.</p>

            </div>
            <div class="info">

                <h3>> Where does one contact someone on this website for feedback?</h3>
                <p style="padding-bottom:7px">While running the website, we may make a couple errors here and there. If you find an error or inaccurate data, please contact Daviado#3449 on Discord! We will make sure that we review your report thouroughly and fix it if we see that it would improve the website!</p>

            </div>
        </div>
    </div>
</body>