<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <style>
        .data {
            color: white
        }

        .title {
            border: 4px solid rgba(84, 237, 255,1);
            text-align: center;
            background-color: rgba(75, 185, 198,0.3);
            border-radius: 10px
        }

        .table {
            border: 2px solid rgba(84, 237, 255,1);
            text-align: center;
            border-radius: 8px;
        }

        .notice {
            border: 2px solid rgb(66, 134, 244);
            background-color: rgba(66, 134, 244, 0.35);
            color: white;
            text-align: center;
        }

        .activeupdates {
            border: 2px solid red;
            background-color: rgba(188, 0, 0,0.35);
            color: white;
            text-align: center;
        }

        .oldactiveupdates {
            border: 2px solid rgb(255, 182, 0);
            background-color: rgba(255, 182, 0,0.35);
            color: white;
            text-align: center;
        }

        .dismissedupdates {
            border: 2px solid rgb(0, 255, 157);
            background-color: rgba(0, 255, 157,0.35);
            color: white;
            text-align: center;
        }
    </style>
    <br />
    <div class="notice">
        <h1>REALTIME UPDATES</h1>
        <h3>Current Updates by Daviado#3449</h3>
    </div>
    <br />
    <br />

    <!--USE THIS SECTION FOR GATE OPENINGS ONLY-->
    <!--<div class="activeupdates">
        <h1>ACTIVE UPDATE:</h1>
        <h2>UPDATE 1</h2>
        <h3>Time in PST</h3>
        <h4>Witty Error Description</h4>
        <br />
    </div>
    <br />
    <div class="oldactiveupdates">
        <h1>OLD UPDATE:</h1>
        <h2>UPDATE 2</h2>
        <h3>Time in PST</h3>
        <h4>Witty Error Description</h4>
        <br />
    </div>
    <br />
    <div class="dismissedupdates">
        <h1>DISMISSED UPDATE:</h1>
        <h2>UPDATE 3</h2>
        <h3>Time in PST</h3>
        <h4>Witty Error Description</h4>
        <br />
    </div>
    <br />
        -->
    <div class="oldactiveupdates">
        <br />
        <h3>Page Maintence Required</h3>
        <br />
    </div>

    <!--THIS IS FOR THE TIMER. PLEASE ONLY USE WITH CLOSED FUNCTION-->

    <script>
        // Set the date we're counting down to
        var myDateObj = new Date("Sat Dec 29 2018 04:00:00 GMT-0000 (UTC)");
        myDateObj.toString();

        // Update the count down every 1 second
        var x = setInterval(function () {

            // Get todays date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var distance = myDateObj - now;

            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Output the result in an element with id="demo"
            document.getElementById("demo").innerHTML = days + "d " + hours + "h "
                + minutes + "m " + seconds + "s ";

            // If the count down is over, write some text
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("demo").innerHTML = "AHHHH! We gotta update the page!";
            }
        }, 1000);
    </script>
</body>
</html>