
@{
    ViewBag.Title = "Index";
}
<div style="text-align:center;font-family:Georgia, 'Times New Roman', Times, serif">
    <h5>OWO WHAT'S THIS...</h5>
    <h1 style="font-size:150px;margin-top:5px"><strong>LIST</strong></h1>
</div>
