
@{
    ViewBag.Title = "Ranking";
}

<div style="text-align:center;font-family:Georgia, 'Times New Roman', Times, serif">
    <h5>OWO WHAT'S THIS...</h5>
    <h1 style="font-size:150px;margin-top:5px"><strong>RANKINGS</strong></h1>
</div>
<h2>A ranking is a very important part of the information in the Gateway Archives. It shows what place you are in. A lower number for your ranking is much better than a higher one.</h2>
