<style>
    .gate1 {
        background-color: #e6335a;
        color: white;
        text-align: center;
        border: 2px solid #e6335a;
        border-radius: 8px;
        5f5f5f
    }

    .gate2 {
        background-color: #3fba84;
        color: white;
    }

    .gate3 {
        background-color: #34a9f6;
        color: white;
    }

    .gate4 {
        background-color: #fe7b51;
        color: white;
    }

    .gate5 {
        background-color: #f0be37;
        color: white;
    }

    .gate6 {
        background-color: #a74cc1;
        color: white;
    }

    .gate7 {
        background-color: #282828;
        color: white;
    }

    .g1button {
        color: #e6335a;
        background-color: lightgray;
        text-align: center;
        border: 4px solid #e6335a;
        font-family: Courier New, Courier, monospace;
        border-radius: 4px;
        font-size: 20px;
    }

    .g2button {
        color: #3fba84;
        background-color: lightgray;
        text-align: center;
        border: 4px solid #3fba84;
        font-family: Courier New, Courier, monospace;
        border-radius: 4px;
        font-size: 20px;
    }

    .g3button {
        color: #34a9f6;
        background-color: lightgray;
        text-align: center;
        border: 4px solid #34a9f6;
        font-family: Courier New, Courier, monospace;
        border-radius: 4px;
        font-size: 20px;
    }

    .g4button {
        color: #fe7b51;
        background-color: lightgray;
        text-align: center;
        border: 4px solid #fe7b51;
        font-family: Courier New, Courier, monospace;
        border-radius: 4px;
        font-size: 20px;
    }

    .g5button {
        color: #f0be37;
        background-color: lightgray;
        text-align: center;
        border: 4px solid #f0be37;
        font-family: Courier New, Courier, monospace;
        border-radius: 4px;
        font-size: 20px;
    }

    .g6button {
        color: #a74cc1;
        background-color: lightgray;
        text-align: center;
        border: 4px solid #a74cc1;
        font-family: Courier New, Courier, monospace;
        border-radius: 4px;
        font-size: 20px;
    }

    .g7button {
        color: #282828;
        background-color: lightgray;
        text-align: center;
        border: 4px solid #282828;
        font-family: Courier New, Courier, monospace;
        border-radius: 4px;
        font-size: 20px;
    }
</style>
<h4></h4>
<div class="gate1">
    <h1 class="gate1"><strong>GATE 1</strong></h1>

    <img src="~/Assets/gate1.gif" alt="Gate 1 Image" height="128px" width="128px" />
    <img src="~/Assets/Gate1Logo.gif" alt="Gate 1 Logo" height="128px" width="128px" style="border-radius:65px" />
    <h3></h3>
    <div class="gate1">
        <h2 id="demo" style="font-size:40px;padding-bottom:10px"></h2>
    </div>
    <br />
    <script>
        // Set the date we're counting down to
        var myDateObj = new Date("Sat Nov 24 2018 16:00:00 GMT-0000 (UTC)");
        myDateObj.toString();

        // Update the count down every 1 second
        var x = setInterval(function () {

            // Get todays date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var distance = myDateObj - now;

            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Output the result in an element with id="demo"
            document.getElementById("demo").innerHTML = days + "d " + hours + "h "
                + minutes + "m " + seconds + "s ";

            // If the count down is over, write some text
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("demo").innerHTML = "GO GO GO! COMPLETE THAT GATE!";
            }
        }, 1000);
    </script>
</div>
<h4></h4>
<div class="gate1" style="background-color:#000000;border:2px solid #e04e6e">
    <h4></h4>
    <h3>THEME: NINTENDO</h3>
    <h3>OPENS/ED ON: NOVEMBER 24th, 2018 (12:07PM PST)</h3>
    <h3>NUMBER OF KEYS: 5</h3>
    <h3>AMOUNT COMPLETED: ABOUT 30,000</h3>
    <h3>@Html.ActionLink("<<< Back to List", "Index", "Gates")</h3>
    <h3></h3>
</div>
<h4></h4>
<div class="gate1" style="background-color:#e04e6e;border:2px solid #e04e6e;float:right;border-radius:4px">@Html.ActionLink("Gate 2 >>>", "Gate2", "Gates")</div>