
<style>
    .gate1 {
        background-color: #e6335a;
        color: white;
    }

    .gate2 {
        background-color: #3fba84;
        color: white;
    }

    .gate3 {
        background-color: #34a9f6;
        color: white;
    }

    .gate4 {
        background-color: #fe7b51;
        color: white;
    }

    .gate5 {
        background-color: #f0be37;
        color: white;
    }

    .gate6 {
        background-color: #a74cc1;
        color: white;
    }

    .gate7 {
        background-color: #282828;
        color: white;
    }
    .g1button {
        color: #e6335a;
        text-align: center;
        border: 4px solid #e6335a;
        font-family: Courier New, Courier, monospace;
        border-radius: 4px;
        font-size: 20px;
    }
    .g2button {
        color: #3fba84;
        text-align: center;
        border: 4px solid #3fba84;
        font-family: Courier New, Courier, monospace;
        border-radius: 4px;
        font-size: 20px;
    }
    .g3button {
        color: #34a9f6;
        text-align: center;
        border: 4px solid #34a9f6;
        font-family: Courier New, Courier, monospace;
        border-radius: 4px;
        font-size: 20px;
    }
    .g4button {
        color: #fe7b51;
        text-align: center;
        border: 4px solid #fe7b51;
        font-family: Courier New, Courier, monospace;
        border-radius: 4px;
        font-size: 20px;
    }
    .g5button {
        color: #f0be37;
        text-align: center;
        border: 4px solid #f0be37;
        font-family: Courier New, Courier, monospace;
        border-radius: 4px;
        font-size: 20px;
    }
    .g6button {
        color: #a74cc1;
        text-align: center;
        border: 4px solid #a74cc1;
        font-family: Courier New, Courier, monospace;
        border-radius: 4px;
        font-size: 20px;
    }
    .g7button {
        color: #ededed;
        text-align: center;
        border: 4px solid #282828;
        font-family: Courier New, Courier, monospace;
        border-radius: 4px;
        font-size: 20px;
    }
    .collapsible {
        background-color: #777;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }

        .active, .collapsible:hover {
            background-color: #555;
        }

        .collapsible:after {
            content: 'OPEN';
            color: #5cd67a;
            font-weight: bold;
            float: right;
            margin-left: 5px;
        }

    .active:after {
        content: "OPEN";
    }

    .content {
        padding: 0 18px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease-out;
        background-color: #f1f1f1;
        text-align: center;
    }
    .collapsible3 {
        background-color: #777;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }

        .activec, .collapsible3:hover {
            background-color: #555;
        }

        .collapsible3:after {
            content: '';
            color: white;
            font-weight: bold;
            float: right;
            margin-left: 5px;
        }

    .activec:after {
        content: "";
    }

    .content3 {
        padding: 0 18px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease-out;
        background-color: #f1f1f1;
        text-align: center;
    }
</style>

<body style="background-color:black">
    <div class="row">
        <div class="carousel">
            <br />
            <h1 style="font-size:60px;color:black;text-align:center"><strong>All of the 7GATES</strong></h1>
            <br />
            <button class="collapsible3">Gate 1</button>
            <div class="content3">
                <br />
                <div style="text-align:center">
                    <div style="background-color:white;height:12vw;width:30vw;border-radius:.6vw;display:inline-block">
                        <img src="~/Assets/gate1.PNG" alt="Gate 1 Image" style="height:11.5vw;width:11.5vw;border-radius:16px" />
                    </div>
                    <br />
                    <br />
                    <div style="background-color:#e6335a;color:white;height:4vw;width:30vw;border-radius:.6vw;display:inline-block">
                        <p style="font-size:2.5vw">Nintendo Theme</p>
                    </div>
                    <br />
                    <br />
                    <div style="background-color:#e6335a;color:white;height:1.8vw;width:30vw;border-radius:.6vw;display:inline-block">
                        <p style="font-size:1vw">November 24th, 2018 12:00PM PST</p>
                    </div>
                    <br />
                    <br />
                    <div style="background-color:#e6335a;color:white;height:4vw;width:30vw;border-radius:.6vw;display:inline-block">
                        <p style="font-size:2.5vw"><strong>OPEN</strong></p>
                    </div>
                    <br />
                    <br />
                </div>
            </div>
            <button class="collapsible3">Gate 2</button>
            <div class="content3">
                <br />
                <div style="text-align:center">
                    <div style="background-color:white;height:12vw;width:30vw;border-radius:.6vw;display:inline-block">
                        <img src="~/Assets/gate2.PNG" alt="Gate 1 Image" style="height:11.5vw;width:11.5vw;border-radius:16px" />
                    </div>
                    <br />
                    <br />
                    <div style="background-color:#3fba84;color:white;height:4vw;width:30vw;border-radius:.6vw;display:inline-block">
                        <p style="font-size:2.5vw">Indie Game Theme</p>
                    </div>
                    <br />
                    <br />
                    <div style="background-color:#3fba84;color:white;height:1.8vw;width:30vw;border-radius:.6vw;display:inline-block">
                        <p style="font-size:1vw">January 20th, 2019 2:22PM PST</p>
                    </div>
                    <br />
                    <br />
                    <div style="background-color:#3fba84;color:white;height:4vw;width:30vw;border-radius:.6vw;display:inline-block">
                        <p style="font-size:2.5vw"><strong>OPEN</strong></p>
                    </div>
                    <br />
                    <br />
                </div>
            </div>
            <button class="collapsible3">Gate 3</button>
            <div class="content3">
                <br />
                <div style="text-align:center">
                    <div style="background-color:white;height:12vw;width:30vw;border-radius:.6vw;display:inline-block">
                        <img src="~/Assets/gate3.PNG" alt="Gate 1 Image" style="height:11.5vw;width:11.5vw;border-radius:16px" />
                    </div>
                    <br />
                    <br />
                    <div style="background-color:#34a9f6;color:white;height:4vw;width:30vw;border-radius:.6vw;display:inline-block">
                        <p style="font-size:2.5vw">Film Theory Theme</p>
                    </div>
                    <br />
                    <br />
                    <div style="background-color:#34a9f6;color:white;height:1.8vw;width:30vw;border-radius:.6vw;display:inline-block">
                        <p style="font-size:1vw">February 16th, 2019 3:33PM PST</p>
                    </div>
                    <br />
                    <br />
                    <div style="background-color:#34a9f6;color:white;height:4vw;width:30vw;border-radius:.6vw;display:inline-block">
                        <p style="font-size:2.5vw"><strong>GET READY...</strong></p>
                    </div>
                    <br />
                    <br />
                </div>
            </div>
            <button class="collapsible3">Gate 4</button>
            <div class="content3">
                <br />
                <div style="text-align:center">
                    <div style="background-color:white;height:12vw;width:30vw;border-radius:.6vw;display:inline-block">
                        <img src="~/Assets/gate4.PNG" alt="Gate 1 Image" style="height:11.5vw;width:11.5vw;border-radius:16px" />
                    </div>
                    <br />
                    <br />
                    <div style="background-color:#fe7b51;color:white;height:4vw;width:30vw;border-radius:.6vw;display:inline-block">
                        <p style="font-size:2.5vw">Merch Theme</p>
                    </div>
                    <br />
                    <br />
                    <div style="background-color:#fe7b51;color:white;height:1.8vw;width:30vw;border-radius:.6vw;display:inline-block">
                        <p style="font-size:1vw">Unknown Opening Date & Time</p>
                    </div>
                    <br />
                    <br />
                    <div style="background-color:#fe7b51;color:white;height:4vw;width:30vw;border-radius:.6vw;display:inline-block">
                        <p style="font-size:2.5vw"><strong>CLOSED</strong></p>
                    </div>
                    <br />
                    <br />
                </div>
            </div>
            <button class="collapsible3">Gate 5</button>
            <div class="content3">
                <br />
                <div style="text-align:center">
                    <div style="background-color:white;height:12vw;width:30vw;border-radius:.6vw;display:inline-block">
                        <img src="~/Assets/gate5.PNG" alt="Gate 1 Image" style="height:11.5vw;width:11.5vw;border-radius:16px" />
                    </div>
                    <br />
                    <br />
                    <div style="background-color:#f0be37;color:white;height:4vw;width:30vw;border-radius:.6vw;display:inline-block">
                        <p style="font-size:2.5vw">GTLive Theme</p>
                    </div>
                    <br />
                    <br />
                    <div style="background-color:#f0be37;color:white;height:1.8vw;width:30vw;border-radius:.6vw;display:inline-block">
                        <p style="font-size:1vw">Unknown Opening Date & Time</p>
                    </div>
                    <br />
                    <br />
                    <div style="background-color:#f0be37;color:white;height:4vw;width:30vw;border-radius:.6vw;display:inline-block">
                        <p style="font-size:2.5vw"><strong>CLOSED</strong></p>
                    </div>
                    <br />
                    <br />
                </div>
            </div>
            <button class="collapsible3">Gate 6</button>
            <div class="content3">
                <br />
                <div style="text-align:center">
                    <div style="background-color:white;height:12vw;width:30vw;border-radius:.6vw;display:inline-block">
                        <img src="~/Assets/gate6.PNG" alt="Gate 1 Image" style="height:11.5vw;width:11.5vw;border-radius:16px" />
                    </div>
                    <br />
                    <br />
                    <div style="background-color:#a74cc1;color:white;height:4vw;width:30vw;border-radius:.6vw;display:inline-block">
                        <p style="font-size:2.5vw">Unknown Theme</p>
                    </div>
                    <br />
                    <br />
                    <div style="background-color:#a74cc1;color:white;height:1.8vw;width:30vw;border-radius:.6vw;display:inline-block">
                        <p style="font-size:1vw">Unknown Opening Date & Time</p>
                    </div>
                    <br />
                    <br />
                    <div style="background-color:#a74cc1;color:white;height:4vw;width:30vw;border-radius:.6vw;display:inline-block">
                        <p style="font-size:2.5vw"><strong>CLOSED</strong></p>
                    </div>
                    <br />
                    <br />
                </div>
            </div>
            <button class="collapsible3">Gate 7</button>
            <div class="content3">
                <br />
                <div style="text-align:center">
                    <div style="background-color:black;height:12vw;width:30vw;border-radius:.6vw;display:inline-block">
                        <img src="~/Assets/gate7.PNG" alt="Gate 1 Image" style="height:11.5vw;width:20vw" />
                    </div>
                    <br />
                    <br />
                    <div style="background-color:#282828;color:white;height:4vw;width:30vw;border-radius:.6vw;display:inline-block">
                        <p style="font-size:2.5vw">Earth Theme</p>
                    </div>
                    <br />
                    <br />
                    <div style="background-color:#282828;color:white;height:1.8vw;width:30vw;border-radius:.6vw;display:inline-block">
                        <p style="font-size:1vw">Unknown Opening Date & Time</p>
                    </div>
                    <br />
                    <br />
                    <div style="background-color:#282828;color:white;height:4vw;width:30vw;border-radius:.6vw;display:inline-block">
                        <p style="font-size:2.5vw"><strong>CLOSED</strong></p>
                    </div>
                    <br />
                    <br />
                </div>
            </div>
            <br />
    <script>
        // Set the date we're counting down to
        var myDateObj = new Date("Sat Dec 29 2018 04:00:00 GMT-0000 (UTC)");
        myDateObj.toString();

        // Update the count down every 1 second
        var x = setInterval(function () {

            // Get todays date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var distance = myDateObj - now;

            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Output the result in an element with id="demo"
            document.getElementById("demo").innerHTML = days + ":" + hours + ":"
                + minutes + ":" + seconds;

            // If the count down is over, write some text
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("demo").innerHTML = "GO GO GO! COMPLETE THAT GATE!";
            }
        }, 1000);
    </script>
    <script>
        var coll = document.getElementsByClassName("collapsible3");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("activec");
                var content = this.nextElementSibling;
                if (content.style.maxHeight) {
                    content.style.maxHeight = null;
                } else {
                    content.style.maxHeight = content.scrollHeight + "px";
                }
            });
        }
    </script>
</body>
