<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    
</head>
<body>
    <div style="text-align:center">
        <h1>REPORT A USER</h1>
        <p>Sometimes, a user on thetheoristgateway.com has information that they purposefully change to swear, discriminate, or do other unacceptable things. The Gateway Projects does not want to show that kind of stuff on the website, so we implemented a report feature for our viewers. This way, we do not have to sort through all 90,000 data entries in order to change a couple usernames. When reporting users, we will look at the UUID provided, and see if the username should not be shown on our website. If we find that the report is correct, we will either change the username in our databases (and add a "*TGP*" to show we have changed something) or we will just entirely change it to "[HIDDEN FROM REPORT]". Thank you for taking time to report these users and make The Gateway Projects a better place!</p>
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSci__KCNYquAaXxa_EGlodNnE1oCgk0_3joa7r4d6c64wQovA/viewform?embedded=true" width="640" height="973" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    </div>
</body>
</html>